@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.schoolbell-regular {
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
}
  
body {
    background-color:#9ce15d;
    min-height: 100vh;
}

/*title of the game*/
.title{
    color:#A25DE1;
    font-size: 50px;
    display:flex;
    justify-content:center;
    padding:30px;
    margin:15px;
}

/* aligning the buttons to the center of the page */
#selection-buttons{
    display:flex;
    justify-content:center;
    align-content:center;
    gap:50px;
    cursor: pointer;
    transition: border-color 0.3s;
}

#rock-button:active, #paper-button:active, #scissor-button:active{
    border: 5px solid #A25DE1;
}

div{
    border:5px solid red;
}

#output-text{
    display:flex;
    margin:15px;
    padding:30px;
}

#replay-game{
    display:flex;
    margin:15px;
    padding:30px;
}